.MuiIconButton-root {
  color: white;
}

.current__story {
  background-image: linear-gradient(#1a1a1a, #bbbbbb);
  display: flex;
  width: 80%;
  height: 96%;
  border-radius: 10px;
  flex-direction: column;
}

.current__story > .current__story__header {
  margin: 15px;
  display: flex;
  flex-direction: column;
}
.current__story
  > .current__story__header
  > .current__story__progress__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.current__story
  > .current__story__header
  > .current__story__progress__container
  > .progress {
  display: flex;
  width: 100%;
  height: 2px;
  flex-grow: 1;
  border-radius: 4px;
  margin: 0 5px;
  background-image: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(88, 89, 104, 0.5) 50.001%,
    rgba(88, 89, 104, 0.5) 100%
  );
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 100% 50%;
  animation-timing-function: linear;
  animation-delay: 0.2s;
}

.progress.progress__loading__start {
  animation-name: progressBarLoading;
}

.progress.progress__loading__passed {
  background-position: 0 0 !important;
}

.progress.progress__loading__remove {
  animation-play-state: paused !important;
  animation: none !important;

}
@keyframes progressBarLoading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.current__story > .current__story__header > .current__story__controls {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current__story
  > .current__story__header
  > .current__story__controls
  > .current__story__option__btn__container {
  display: flex;
}

.current__story
  > .current__story__header
  > .current__story__controls
  > .current__story__option__btn__container
  > button {
  color: white;
  padding: 3px;
}

.current__story
  > .current__story__header
  > .current__story__controls
  > .current__story__controls__user__info
  > img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.current__story
  > .current__story__header
  > .current__story__controls
  > .current__story__controls__user__info
  span:first-of-type {
  color: white;
  font-weight: 500;
  font-size: small;
  margin-right: 10px;
}

.current__story
  > .current__story__header
  > .current__story__controls
  > .current__story__controls__user__info
  span:last-of-type {
  color: lightgray;
  font-weight: 400;
}

.current__story > .current__story__body {
  display: flex;
  flex: 1;
}

.current__story > .current__story__body > div {
  mask-image: linear-gradient(180deg, #000, transparent);
  width: 100%;
}

.current__story > .current__story__body > .current__story__body__image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* background-size: contain; */
  display: flex;
  justify-content: center;
  flex: 1;
}

.current__story > .current__story__body > div > video {
  border-radius: 0;
}

.current__story > .current__story__footer {
  display: flex;
  padding: 10px 15px;
}

.current__story > .current__story__footer > input {
  width: 100%;
  background: transparent;
  border: 2px solid white;
  border-radius: 25px;
  padding: 10px;
  color: white;
}

.current__story > .current__story__footer > input::placeholder {
  color: white;
  font-size: medium;
  font-weight: bold;
  font-weight: lighter;
}

.current__story > .current__story__footer > input:focus {
  outline: none;
}

.current__story > .current__story__footer > button {
  color: white;
  transform: rotate(-30deg);
}
