.poll {
  display: flex;
  justify-content: center;
  align-self: center;
  background: white;
  width: 90%;
  border-radius: 14px;
  cursor: pointer;
}

.poll > .poll__vote__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
