p {
  margin: 0;
}

.sub__story {
  width: 136px;
  position: relative;
  top: 50px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sub__story > .sub__story__bg {
  display: flex;
  height: 240px;
  width: 100%;
  border-radius: 14px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  object-fit: contain;
  opacity: 0.3;
}

.sub__story > .sub__story__user__info {
  position: relative;
  top: -150px;
  text-align: center;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 66px;
}

.sub__story > .sub__story__user__info > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 3px;
}

.sub__story > .sub__story__user__info > p:first-of-type {
  font-size: small;
  font-weight: bold;
}

@media only screen and (max-width: 1000px) {
  .stories
    > .stories__prev__stories__container
    > .stories__container
    > .sub__story:first-child {
    display: none;
  }

  .stories
    > .stories__next__stories__container
    > .stories__container
    > .sub__story:last-child {
    display: none;
  }
}
