.create__comment__modal {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: small;
}

.create__comment__modal
  > button
  > span:first-of-type
  > img {
  height: 25px;
  width: 25px;
}

.create__comment__modal
  > textarea {
  border: none;
  width: 100%;
  color: gray;
}

.create__comment__modal
  > textarea::-webkit-scrollbar {
  width: 0;
}

.create__comment__modal
  > textarea:focus {
  outline: none;
  border: none;
}

.create__comment__modal
  > span {
  color: #0095f6;
  font-weight: 600;
  cursor: pointer;
  padding-right: 10px;
}

