.create__post__modal {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 15px;
  border-radius: 16px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.create__post__modal > .create__post__modal__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.create__post__modal > .create__post__modal__avatar {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  align-items: flex-end;
}

.create__post__modal > .create__post__modal__avatar > div {
  margin-left: 10px;
}

.create__post__modal > .create__post__modal__avatar > div > p {
  margin: 0 !important;
}

.create__post__modal > .create__post__modal__avatar > div > p:first-child {
  font-size: medium;
  font-weight: 500;
}

.create__post__modal > .create__post__modal__avatar > div > div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background: lightgray;
  padding: 2px;
  border-radius: 6px;
}

.create__post__modal > .create__post__modal__avatar > div > div > span {
  font-size: small;
  font-weight: 500;
}

.create__post__modal > textarea {
  border: none;
  padding: 15px;
  font-size: large;
}

.create__post__modal > textarea:focus {
  border: none;
  outline: none;
}

.create__post__modal > textarea::placeholder {
  font-size: larger;
  font-weight: 500;
  color: lightgray;
}

.create__post__modal > .create__post__modal__preview__img__list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.create__post__modal
  > .create__post__modal__preview__img__list
  > .create__post__modal_preview__media__container {
  margin: 10px;
}

.create__post__modal
  > .create__post__modal__preview__img__list
  > .create__post__modal_preview__media__container
  > button {
  display: flex;
  margin-left: auto;
  margin-bottom: auto;
  position: relative;
  bottom: -60px;
  margin-top: -50px;
  z-index: 100;
}


.create__post__modal
  > .create__post__modal__preview__img__list
  > .create__post__modal_preview__media__container
  > img,
video {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px;
  z-index: -1;
}

.create__post__modal > .create__post__modal__add__img__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
  border: 1px solid lightgray;
  border-radius: 16px;
}

.create__post__modal > .create__post__modal__add__img__btn > span {
  font-size: large;
  font-weight: 600;
}

.create__post__modal > .create__post__modal__add__img__btn > form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.create__post__modal > .create__post__modal__add__img__btn > form > input {
  display: none;
}

.create__post__modal
  > .create__post__modal__add__img__btn
  > form
  > label
  > span:first-child {
  color: lightgreen;
}

.create__post__modal > button {
  margin-top: 25px;
  border: none;
  border-radius: 10px;
  height: 40px;
  color: white;
  font-size: large;
  font-weight: 500;
}
