.modal {
  min-width: 550px;
}

.modal::-webkit-scrollbar {
  width: 0;
}

@media only screen and (max-width: 600px) {
  .modal {
    min-width: 400px;
  }
}

.edit__post__modal {
  width: 100vw;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.edit__post__modal__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.edit__post__modal__header > p {
  font-size: larger;
  font-weight: bolder;
}

.edit__post__modal__body {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 15px;
}

.edit__post__modal__body > .edit__post__modal__emoji__picker__container {
  display: flex;
  justify-content: flex-end;
}

.edit__post__modal__body
  > .edit__post__modal__emoji__picker__container
  > button
  > span:first-of-type
  > img {
  width: 25px;
  height: 25px;
}

.edit__post__modal__body > .edit__post__modal__post__user__info {
  display: flex;
  align-items: center;
}

.edit__post__modal__body
  > .edit__post__modal__post__user__info
  > div:first-of-type {
  margin-right: 10px;
}

.edit__post__modal__body
  > .edit__post__modal__post__user__info
  > div:last-of-type
  > p {
  font-weight: bold;
}

.edit__post__modal__body
  > .edit__post__modal__post__user__info
  > div:last-of-type
  > div {
  background: lightgray;
  width: fit-content;
  padding: 0 4px;
  border-radius: 4px;
}

.edit__post__modal__body
  > .edit__post__modal__post__user__info
  > div
  > div
  > span {
  font-weight: 500;
}

.edit__post__modal__body > textarea {
  display: flex;
  width: 100%;
  border: none;
  padding: 20px 0;
}

.edit__post__modal__body > textarea::-webkit-scrollbar {
  width: 0;
}

.edit__post__modal__body > textarea:focus {
  border: none;
  outline: none;
}

.edit__post__modal__body > .edit__post__modal__body__media__list__container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.edit__post__modal__body
  > .edit__post__modal__body__media__list__container
  > .edited__post__modal_preview__img__container {
  margin: 10px;
}

.edit__post__modal__body
  > .edit__post__modal__body__media__list__container
  > .edited__post__modal_preview__img__container
  > button {
  display: flex;
  margin-left: auto;
  margin-bottom: auto;
  position: relative;
  bottom: -60px;
  margin-top: -50px;
  z-index: 100;
}

.edit__post__modal__body
  > .edit__post__modal__body__media__list__container
  > .edited__post__modal_preview__img__container
  > img,
video {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px;
  z-index: -1;
}

.edit__post__modal__body > .edit__post__modal__add__img__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
  border: 1px solid lightgray;
  border-radius: 16px;
}

.edit__post__modal__body > .edit__post__modal__add__img__btn > span {
  font-size: large;
  font-weight: 600;
}

.edit__post__modal__body > .edit__post__modal__add__img__btn > form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.edit__post__modal__body > .edit__post__modal__add__img__btn > form > input {
  display: none;
}

.edit__post__modal__body
  > .edit__post__modal__add__img__btn
  > form
  > label
  > span:first-child {
  color: lightgreen;
}

.edit__post__modal__footer {
  display: flex;
  flex: 1;
  padding: 15px;
}

.edit__post__modal__footer > button {
  width: 100%;
  margin-top: 25px;
  border: none;
  border-radius: 10px;
  height: 40px;
  color: white;
  font-size: large;
  font-weight: 500;
}
