.home__container {
  display: flex;
  flex-direction: row;
  margin: 20px 160px;
  flex: 1;
}

@media only screen and (max-width: 600px) {
  .home__container {
    display: flex;
    margin: 0;
    flex: 1;
    width: 100%;
  }
}
