.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex: 1;
}

.login > .login__form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 400px;
  max-height: 200px;
  padding: 20px 40px;
  border: 1px solid lightgray;
}

@media only screen and (max-width: 600px) {
  .login > .login__form__container {
    border: none;
  }
}

.login > .login__form__container > img {
  width: 200px;
  margin: 5px 30px;
}

.login > .login__form__container > .login__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 15px 0;
}

.login > .login__form__container > .login__button > img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.login > .login__form__container > .login__button > span {
  color: #385185;
  font-size: medium;
  font-weight: 500;
}

.login > .login__form__container > p {
  margin: 0 !important;
  font-size: small;
  color: #385185;
  cursor: pointer;
}

.login > .login__download__app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login > .login__download__app__container > p {
  margin: 10px;
  font-size: 14px;
  cursor: pointer;
}

.login > .login__download__app__container > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login > .login__download__app__container > div > img {
  width: 150px;
  margin: 10px 5px;
}

.login > .login__footer {
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.login > .login__footer > div {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.login > .login__footer > div > span {
  font-size: small;
  color: gray;
  padding: 10px;
}
