.carousel > .thumbs-wrapper {
  display: none;
}

.Post {
  margin-top: 80px;
}

.Post > .Post__body__container {
  display: flex;
  flex-direction: row;
  margin: 20px 220px;
  flex: 1;
  border: 1px solid lightgray;
}

.Post
  > .Post__body__container
  > .Post__body__container__media__list__container {
  padding: 0 !important;
}

.Post
  .Post__body__container
  .carousel-root
  .carousel-slider
  .slider-wrapper
  .selected
  > div
  > .media {
  height: 600px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
  object-fit: contain;
}

.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__header__container
  > .Post__body__container__comment__list__container__post__header__poster__info
  > img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid lightgray;
  margin: 10px;
}

.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  border-bottom: 1px solid lightgray;
}

.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__header__container
  > .Post__body__container__comment__list__container__post__header__poster__info
  > span {
  font-size: small;
  font-weight: 500;
  margin-left: 10px;
}

.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__body__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 350px !important;
  overflow: scroll;
}

.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__body__container::-webkit-scrollbar {
  width: 0;
}

.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__body__container
  > .Post__body__container__comment__list__container__post__body__container__post__caption__container {
  display: flex;
  margin-bottom: auto;
}

.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__body__container
  > .Post__body__container__comment__list__container__post__body__container__post__caption__container
  > img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid lightgray;
  margin: 10px;
}

.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__body__container
  > .Post__body__container__comment__list__container__post__body__container__post__caption__container
  > div {
  padding: 15px 0;
}

.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__body__container
  > .Post__body__container__comment__list__container__post__body__container__post__caption__container
  > div
  > span:first-of-type {
  font-size: small;
  font-weight: 500;
  margin-left: 10px;
}
.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__body__container
  > .Post__body__container__comment__list__container__post__body__container__post__caption__container
  > div
  > span:last-of-type {
  font-size: small;
  white-space: pre-wrap;
}

.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__body__container
  > .Post__body__container__comment__list__container__post__body__container__post__comment__container
  > img:first-of-type {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid lightgray;
  margin: 10px;
}

.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__body__container
  > .Post__body__container__comment__list__container__post__body__container__post__comment__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__body__container
  > .Post__body__container__comment__list__container__post__body__container__post__comment__container
  > img:last-of-type {
  height: 15px;
  width: 15px;
  margin-top: 10px;
  cursor: pointer;
}

.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__body__container
  > .Post__body__container__comment__list__container__post__body__container__post__comment__container
  > div {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__body__container
  > .Post__body__container__comment__list__container__post__body__container__post__comment__container
  > div
  > div:first-of-type
  > span:first-of-type {
  font-size: small;
  font-weight: 500;
}

.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__body__container
  > .Post__body__container__comment__list__container__post__body__container__post__comment__container
  > div
  > div:last-of-type {
  font-size: 12px;
}

.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__body__container
  > .Post__body__container__comment__list__container__post__body__container__post__comment__container
  > div
  > div:last-of-type
  > span:first-of-type {
  /* font-size: small; */
  color: gray;
}

.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__body__container
  > .Post__body__container__comment__list__container__post__body__container__post__comment__container
  > div
  > div:last-of-type
  > button {
  outline: none;
  border: none;
  background: white;
  /* font-size: small; */
  color: gray;
  font-weight: 600;
  margin-left: 15px;
}


.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__footer__container
  > .Post__body__container__comment__list__container__post__footer__container__option__btn__list__container {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding-bottom: 5px;
}

.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__footer__container
  > .Post__body__container__comment__list__container__post__footer__container__option__btn__list__container
  > div
  > button
  > span:first-of-type
  > img {
  height: 25px;
  width: 25px;
}

.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__footer__container
  > .Post__body__container__comment__list__container__post__footer__container__option__btn__list__container
  > p {
  margin-left: 10px;
}

.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__footer__container
  > .Post__body__container__comment__list__container__post__footer__container__option__btn__list__container
  > p:first-of-type {
  font-size: 14px;
  font-weight: 500;
  padding: 0 10px;
  margin: 0;
}

.Post
  > .Post__body__container
  > .Post__body__container__comment__list__container
  > .Post__body__container__comment__list__container__post__footer__container
  > .Post__body__container__comment__list__container__post__footer__container__option__btn__list__container
  > p:last-of-type {
  padding: 0 10px;
  margin: 0;
  font-weight: 100;
  color: #8e8e8e;
  font-size: 14px;
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  .Post > .Post__body__container {
    display: flex;
    margin: 0;
    flex: 1;
    width: 100%;
  }
  .Post
    > .Post__body__container
    > .Post__body__container__comment__list__container {
    display: none;
  }
}
