.stories {
  height: 100vh;
  background-image: linear-gradient(black, #1a1a1a);
  padding: 0;
  margin: 0;
}

.stories > .stories__prev__stories__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stories__btn > span > img {
  width: 25px;
  height: 25px;
  margin: 10px;
}

.stories > .stories__prev__stories__container > .stories__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  width: 100%;
  margin-bottom: 35px;
  position: relative;
  left: 35px;
}

.stories > .stories__prev__stories__container > .stories__container > button {
  border: none;
  background: #808080;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: white;
  position: relative;
  right: 25px;
}

.stories
  > .stories__prev__stories__container
  > .stories__container
  > button:hover {
  opacity: 0.6;
}

.stories > .current__story__container {
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
}

.stories > .stories__next__stories__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.stories > .stories__next__stories__container > .stories__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  width: 100%;
  margin-bottom: 35px;
  position: relative;
  right: 35px;
}

.stories > .stories__next__stories__container > .stories__container > button {
  border: none;
  background: #808080;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: white;
  position: relative;
  left: 25px;
}
