.feed {
  display: flex;
  flex-direction: column;
  width: 66%;
  margin-top: 50px;
}

.feed .feed__post__list__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feed > button {
  font-weight: bolder;
  position: fixed;
  background: white;
  bottom: 40px;
  right: 40px;
  border-radius: 50px;
  text-align: center;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media only screen and (max-width: 1000px) {
  .feed {
    display: flex;
    flex: 1;
    width: fit-content;
    overflow-x: auto;
  }
}

.modal {
  border: none;
  border-radius: 16px;
  outline: none;
  width: 100%;
  max-width: 400px;
}

.modal .modal__header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
