.delete__post__btn > button {
  color: gray;
}

.delete__post__btn > button::after {
  display: none;
}

.delete__post__btn .dropdown-menu > a {
  display: flex;
  justify-content: flex-start;
}

.delete__post__btn .dropdown-menu > a > img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.delete__post__btn .dropdown-menu > a > span {
  font-size: small;
  font-weight: 400;
}
