.post {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  margin: 30px 0;
}

.post .post__header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.post .post__header__container .post__header__poster__info {
  margin: 10px 0;
}

.post .post__header__container .post__header__poster__info > img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid lightgray;
  margin: 10px;
}

.post .post__header__container .post__header__poster__info > span {
  font-size: small;
  font-weight: 500;
  margin-left: 10px;
}

.post
  .post__media__list
  .carousel-root
  .carousel-slider
  .slider-wrapper
  .selected {
  height: fit-content;
}

.post
  .post__media__list
  .carousel-root
  .carousel-slider
  .slider-wrapper
  .selected
  > div
  > .media {
  height: 500px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
  object-fit: contain;
}

.post .post__media__list .carousel-root .carousel .thumbs-wrapper {
  display: none;
}

.post .post__heart__icon {
  width: 100px;
  height: 100px;
  display: flex;
  align-self: center;
  position: relative;
  top: -250px;
  margin-bottom: -100px;
}

.post
  .post__react__detail
  .post__option__button__list
  .post__option__button__list__containter
  > button
  > span:first-child
  > img {
  width: 25px;
  height: 25px;
}

.post .post__react__detail .post__react__detail__like {
  font-size: 14px;
  font-weight: 500;
  padding: 0 10px;
  margin: 0;
}

.post .post__react__detail .post__caption__container {
  padding: 0 10px;
}

.post .post__react__detail .post__caption__container > span:first-child {
  font-size: 14px;
  font-weight: 500;
}

.post .post__react__detail .post__caption__container > span:last-child {
  font-size: 14px;
  white-space: pre-wrap;
}

.post
  .post__react__detail
  .post__caption__container
  > span:last-child
  .post__caption__truncate__btn {
  font-size: 14px;
  font-weight: 500;
  color: #8e8e8e;
  cursor: pointer;
}

.post .post__react__detail .post__comment__list {
  margin: 0 10px;
}

.post .post__react__detail .post__comment__list .post__comment__container {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  cursor: pointer;
}

.post
  .post__react__detail
  .post__comment__list
  .post__comment__container
  .post__comment__content
  > span:first-child {
  font-size: 14px;
  font-weight: 500;
}

.post
  .post__react__detail
  .post__comment__list
  .post__comment__container
  .post__comment__content
  > span:last-of-type {
  visibility: hidden;
}

.post
  .post__react__detail
  .post__comment__list
  .post__comment__container
  .post__comment__content:hover {
  background: coral;
  padding: 5px;
  opacity: 0.5;
  border-radius: 14px;
}

.post
  .post__react__detail
  .post__comment__list
  .post__comment__container
  .post__comment__content:hover
  > span:last-of-type {
  visibility: visible;
}

.post
  .post__react__detail
  .post__comment__list
  .post__comment__container
  .post__comment__content
  > span:last-child {
  font-size: 14px;
}

.post
  .post__react__detail
  .post__comment__list
  .post__comment__container
  .post__comment__like__comment__btn {
  width: 15px;
  height: 15px;
  margin-left: auto;
}

.post .post__react__detail .post__react__detail__time__diff {
  padding: 0 10px;
  margin: 0;
  font-weight: 100;
  color: #8e8e8e;
  font-size: 14px;
  text-transform: capitalize;
}

.post .post__comment__area {
  border: none;
  padding: 10px;
  margin: 10px 0;
  border-top: 1px solid #efefef;
  font-size: 14px;
  color: #8e8e8e;
}

.post .post__comment__area:focus {
  outline: none;
  border: none;
}
