.each-fade {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

@media only screen and (max-width: 600px) {
  .story__list {
    padding-top: 10px;
  }

  .each-fade {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  }
}

.each-fade::-webkit-scrollbar {
  width: 0;
}
