.container-fluid {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1;
}

.header {
  display: flex;
  margin: 0 130px;
}

.header > .header__logo {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.header > .header__logo > img {
  width: fit-content;
}

.header > .header__input__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header > .header__input__container > div {
  border: 1px solid lightgray;
  padding: 0 5px;
  border-radius: 5px;
}

.header > .header__input__container > div > .MuiSvgIcon-root {
  font-size: 1.1rem;
  color: gray;
  position: relative;
  top: -2px;
}

.header > .header__input__container > div > input {
  border: 0;
}

.header > .header__input__container > div > input:focus {
  border: 0;
  outline: none;
}

.header > .header__input__container > button {
  width: 240px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > .header__input__container > button:focus {
  outline: none;
  border: none;
  cursor: auto;
}

.header > .header__input__container > button > .MuiSvgIcon-root {
  font-size: 1.1rem;
  color: gray;
}

.header > .header__input__container > button > span {
  color: gray;
  margin-left: 5px;
}

.header .header__option__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header > .header__option__buttons > button:focus {
  outline: none;
}

.header > .header__option__buttons > button > span:first-child > img {
  height: 25px;
  width: 25px;
}

.header
  > .header__option__buttons
  > button:last-child
  > span:first-child
  > img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid lightgray;
}

@media only screen and (max-width: 400px) {
  .header {
    padding-top: 30px;
  }

  .header > .header__logo > img {
    display: none;
  }

  .header > .header__option__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 !important;
    position: relative;
    top: -65px;
    margin-bottom: -65px;
  }
}

@media only screen and (max-width: 550px) {
  .container-fluid {
    padding: 0;
  }

  .header {
    margin: 0;
  }

  .header > .header__logo {
    padding: 15px;
  }

  .header > .header__option__buttons {
    padding: 0 !important;
    position: relative;
    top: -65px;
    margin-bottom: -65px;
  }
}

@media only screen and (max-width: 1050px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .header > .header__input__container {
    display: none !important;
  }
}
