.animation_fadeNScale {
    animation-duration: 0.3s;
    animation-name: fadeAndScale;
    animation-timing-function: cubic-bezier(0.71, 0.55, 0.62, 1.57);
  }
  
  @keyframes fadeAndScale {
    from {
      opacity: 0;
      transform: scale(0.7, 0.7);
    }
    to {
      opacity: 1;
      transform: scale(1, 1);
    }
  }